/**
* 全局样式
*/
// 注册字体
@font-face {
    font-family: LXGW WenKai;
    src: url("@/assets/fonts/LXGWWenKai-Regular.ttf");
}

a{
    text-decoration: none;
}

body {
    // 主题颜色的过渡
    transition: background-color 0.5s;
    font-family: LXGW WenKai;
}

